
/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-surface text-gray-800 font-sans antialiased;
  overflow-x: hidden;
  background-color: aqua;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-stone-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-stone-300 rounded-full hover:bg-primary-light transition-colors;
}

.aspect-card {
  aspect-ratio: 4/3;
}
